body {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

button {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 16px;
}

img {
  height: 20rem;
  animation: rotate 5s infinite linear;
  border-radius: 20%;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  flex-wrap: wrap;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
